{{- if .Values.ingress.enabled -}}
{{- $fullName := include "aryon.fullname" . -}}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ $fullName }}
  labels:
    {{- include "aryon.labels" . | nindent 4 }}
  annotations:
    {{- with .Values.ingress.annotations }}
    {{- range $key, $value := . }}
    {{ $key }}: {{ tpl $value $ | quote }}
    {{- end }}
    {{- end }}
    traefik.ingress.kubernetes.io/router.entrypoints: web
spec:
  ingressClassName: traefik
  rules:
    {{- range .Values.ingress.hosts }}
    - host: {{ .host | quote }}
      http:
        paths:
          {{- range .paths }}
          - path: {{ .path }}
            pathType: {{ .pathType }}
            backend:
              service:
                name: {{ .serviceName | default (printf "%s-items-service" $fullName) }}
                port:
                  number: {{ .servicePort | default 80 }}
          {{- end }}
    {{- end }}
{{- end }}
